<#import "../layout/defaultLayoutLogin.ftl.html" as layout>
    <@layout.myLayout "Home page">


    <link href="/assets/webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href = "/assets/css/custom.css" rel = "stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript"src="/assets/webjars/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="/assets/webjars/tinymce-jquery/4.0.16/jscripts/tiny_mce/tiny_mce.js" ></script>
    <script type="text/javascript" src="/assets/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src = "/assets/Js/hitoryDisplay.js"></script>


    <h1>Poker Web App</h1>

    <body>
    <div class = "container-fluid backgrounds">

            <div class = "credentials" name = "mainHistoryDiv">
                    <#noescape>${tableInfo}</#noescape>
            </div>
    </div>
    </body>

</@layout.myLayout>